.home index{
    font: 13px/1.5 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
    color: black;
    font-size: 200%;
    font-weight: bold;
	margin-left: 107pt;
}

.home index2{
    font: 13px/1.5 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
    color: black;
    font-size: 250%;
    font-weight: bold;
	margin-left: 107pt;
}

.home index3{
    font: 13px/1.5 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
    color: black;
    font-size: 150%;
	margin-left: 107pt;
}