.project p {
    font: 13px/1.5 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
    background: #fff;
    color: #000;
    font-size: 14px;
    height: auto;
    padding-bottom: 20px;
	max-width: 80%;
	margin-left: 200px;
  }
  
 .project span {
	font-weight: 700;
 }

#projects h2 {
	font: "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
    background: #fff;
    color: #000;
    font-size: 24px;
    height: auto;
	margin: auto;
    padding-bottom: 20px;
	max-width: 800px;
	margin-left: 200px;
	margin-bottom: 10px;
}

.project img {
	object-fit: cover;
	height: 200px;
	margin-left: 200px;
	margin-bottom: 20px;
}

.project a {
	font: 13px/1.5 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
    color: #1AA7EC;
    font-size: 16px;
    padding-bottom: 20px;
	margin-left: 200px;
	padding-top: 0px;
}

.project video {
    color: #1AA7EC;
    font-size: 16px;
    height: auto;
    padding-bottom: 20px;
	max-width: 30%;
	margin-left: 200px;
}